.main-content {
    margin-top: 70px;
}

.task-form input {
    margin-bottom: 15px;
}

.task-form textarea {
    margin-bottom: 15px;
    min-height: 150px;
}

.task-form select {
    margin-bottom: 15px;
}

.error {
    color: red;
}

.login  input {
    margin-bottom: 15px;
}